<div class="container-fluid mt-3">
  <div class="row justify-content-center">
    <h1>Order Form</h1>
  </div>
</div>

<div class="container-fluid mt-3">
  <form #checkoutForm="ngForm">
    <div class="form-group">
      <label for="">Sender Name: </label>
      <input type="text" #senderName_="ngModel" [class.is-invalid]="senderName_.invalid && senderName_.touched" required name="senderName" [(ngModel)]="senderName" class="form-control">
    </div>

    <div class="form-group">
      <label for="">Sender Email: </label>
      <input type="email" #senderEmail_="ngModel" [class.is-invalid]="senderEmail_.invalid && senderEmail_.touched" required name="senderEmail" [(ngModel)]="senderEmail" class="form-control">
    </div>

    <div class="form-group">
      <label for="">Recipient Name: </label>
      <input type="text" #recipientName_="ngModel" [class.is-invalid]="recipientName_.invalid && recipientName_.touched" required name="recipientName" [(ngModel)]="recipientName" class="form-control">
    </div>

    <div class="form-group">
      <label for="">Recipient Email: </label>
      <input type="email" #recipientEmail_="ngModel" [class.is-invalid]="recipientEmail_.invalid && recipientEmail_.touched" required name="recipientEmail" [(ngModel)]="recipientEmail" class="form-control">
    </div>

    <div class="form-group">
      <label for="">Dedication: </label>
      <textarea #dedication_="ngModel" [class.is-invalid]="dedication_.invalid && dedication_.touched" name="dedication" rows="10" cols="70" [(ngModel)]="dedication" class="form-control"></textarea>
    </div>

    <button class="btn btn-primary" type="submit" (click)="createOrder()">Create Order</button>
  </form>
</div>
